.after-hero {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 2rem 1rem;
  .after-hero-content {
    width: 100%;
    display: grid;
    gap: 16px;
  }
}

.ah-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 340px);
  grid-auto-rows: fit-content;
  grid-auto-flow: row dense;
  justify-content: center;
  gap: 16px;
  align-items: stretch;

  > .ah-card {
    background: var(--ah-card-surface-bg);
    border: 1px solid var(--ah-card-border-color);
    border-radius: 16px;
    color: var(--rp-c-text-1);
    position: relative;
    padding: 16px;
  }
}

.ah-small {
  grid-column: span 1;
  grid-row: span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ah-large {
  grid-column: span 2;
  grid-row: span 1;
  min-height: 280px;
  position: relative;
  overflow: hidden;
  display: grid;
  gap: 16px;
  align-items: stretch;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr;
}

.ah-large-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 28px;
  height: 28px;
  display: grid;
  place-items: center;
}
.ah-large-icon img {
  width: 24px;
  height: 24px;
}

.ah-content {
  color: var(--rp-c-text-1);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .ah-title {
    margin-top: 20px;
    padding-left: 8px;
    margin-bottom: 10px;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .ah-desc {
    background: var(--ah-card-title-bg);
    color: var(--home-features-item-desc-color);
    border-radius: 12px;
    font-size: 14px;
    hyphens: auto;
    padding: 4px 8px;
  }
}

.ah-icon {
  color: var(--rp-c-brand);
  padding-left: 8px;
  .mask-icon {
    width: 32px;
    height: 32px;
  }
}

.ah-large-desc {
  margin-top: 8px;
  font-size: 0.75rem;
  opacity: 0.75;
}

.ah-techs {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 16px;
}

.ah-tech-dot {
  width: 44px;
  height: 44px;
  border-radius: 999px;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  border: 1px solid var(--home-section-divider);
  font-size: 12px;
}

.ah-tech {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid var(--home-section-divider);
  color: var(--rp-c-text-1);
  border-radius: 999px;
  padding: 6px 12px;
  font-size: 0.85rem;
}
