.mask-icon {
  display: inline-block;
  background: currentColor;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.mask-icon.windows {
  -webkit-mask-image: url('@assets/home/windows.svg');
  mask-image: url('@assets/home/windows.svg');
}
.mask-icon.apple {
  -webkit-mask-image: url('@assets/home/home-icon-apple.svg');
  mask-image: url('@assets/home/home-icon-apple.svg');
}
.mask-icon.cplus {
  -webkit-mask-image: url('@assets/lynxtron/c+.svg');
  mask-image: url('@assets/lynxtron/c+.svg');
}

.mask-icon.lightning {
  -webkit-mask-image: url('@assets/lynxtron/lightning.svg');
  mask-image: url('@assets/lynxtron/lightning.svg');
}
.mask-icon.multiplatform {
  -webkit-mask-image: url('@assets/lynxtron/multiplatform.svg');
  mask-image: url('@assets/lynxtron/multiplatform.svg');
}
.mask-icon.extensible {
  -webkit-mask-image: url('@assets/lynxtron/extensible.svg');
  mask-image: url('@assets/lynxtron/extensible.svg');
}
