@import '@lynx-js/luna-styles/index.css';

.snap-button {
  padding: 10px 16px;
  background-color: var(--neutral-ambient);
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snap-button.ui-active {
  background-color: var(--neutral-faint);
}

.snap-button-text {
  color: var(--content-muted);
  font-size: 13px;
  font-weight: 600;
}
