@import '@lynx-js/luna-styles/index.css';

.sortable-item--0 {
  background-color: var(--neutral);
}

.sortable-item--1 {
  background-color: var(--primary);
}

.sortable-item--2 {
  background-color: var(--primary-2);
}

.sortable-item--3 {
  background-color: var(--primary-muted);
}

.sortable-item--4 {
  background-color: var(--secondary);
}

.sortable-item--5 {
  background-color: var(--secondary-2);
}

.drag-here-text--neutral {
  color: var(--neutral-content);
}

.drag-here-text--primary {
  color: var(--primary-content);
}

.drag-here-text--secondary {
  color: var(--secondary-content);
}
