@import '@lynx-js/luna-styles/index.css';

.container {
  background-color: var(--canvas-ambient);
  width: 100%;
  height: 100%;
  padding-top: 36px;
  padding-bottom: 12px;

  display: flex;
  flex-direction: column;
}

.list-container {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  flex: 1;
  min-height: 0;
}

.button-container {
  position: relative;
  bottom: 12px;

  background-color: var(--canvas);
  border-top-width: 1px;
  border-top-color: var(--neutral-ambient);
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 16px;
}

.button {
  width: 348px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
}

.button:active {
  opacity: 0.5;
}

.button.subtle {
  background-color: var(--neutral-ambient);
}

.button.neutral {
  background-color: var(--neutral);
}

.button-text {
  color: var(--primary-content);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.button-text.subtle {
  color: var(--content);
}

.button-text.neutral {
  color: var(--neutral-content);
}
