.section {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* 每行 5 个元素，每个元素占据 15% 的宽度 */
  gap: 10px; /* 元素之间的间距 */
}

.item {
  box-sizing: border-box; /* 确保宽度包含 padding 和 border */
  color: white;
  padding: 10px;
  text-align: center;
  height: 600px;
}
