:root[data-subsite='lynxtron'] {
  --ah-card-surface-bg: rgba(255, 255, 255, 0.6);
  --ah-card-border-color: #dfdfdf;
  --ah-card-title-bg: rgba(0, 0, 0, 0);
  --ah-icon-surface-bg: rgba(0, 0, 0, 0.06);
  --ah-card-bg: #ffffff;
  --ah-icon-bg: var(--rp-c-brand);
}

.dark[data-subsite='lynxtron'] {
  --ah-card-surface-bg: rgba(0, 9, 6, 0.25);
  --ah-card-border-color: #2b2b2b;
  --ah-card-title-bg: #242429b0;
  --ah-icon-surface-bg: rgba(255, 255, 255, 0.08);
  --ah-card-bg: rgba(255, 255, 255, 0.16);
  --ah-icon-bg: black;
}
