@use './home-layout-var';

.galaxy-bg {
  position: absolute;
  pointer-events: none;
}

.galaxy-canvas {
  position: relative;
  top: 2.5%;
  opacity: 1;
  aspect-ratio: 1;
  transform: scale(0.78);
  -webkit-mask-image: radial-gradient(
    ellipse 50% 70% at 50% 50%,
    black 70%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 50% 70% at 50% 50%,
    black 70%,
    transparent 100%
  );
}
