@import '@lynx-js/luna-styles/index.css';

.ellipsis-icon-sm {
  width: 18px;
  height: 18px;
  background-color: var(--neutral-content);
}

.ellipsis-icon-md {
  width: 24px;
  height: 24px;
  background-color: var(--neutral-content);
}
