@import '@lynx-js/luna-styles/index.css';

.trigger-button {
  padding: 12px 24px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 999px;
}

.trigger-button-text {
  color: var(--gradient-content);
  font-size: 16px;
  font-weight: 600;
}
