@import '@lynx-js/luna-styles/index.css';

@import '../shared/base.css';
@import '../shared/palette.css';

.sortable-item {
  justify-content: center;
}

.drag-here-text {
  font-size: 12px;
  font-weight: 400;
}
