.ui-api-table {
  --semi-color-text-0: 210 40% 98%;
  --semi-color-bg-1: 222.2 84% 4.9%;
  --semi-color-bg-0: 222.2 84% 4.9%;
}

.dark {
  .ui-api-table {
    --semi-color-text-2: 210 40% 98%;
    --semi-color-border: #ffffff11;
  }
}

.api-table-desc-row {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.7143;
}

.api-table-type {
  color: var(--home-highlight-title-color);
}

.api-table-default {
  color: var(--home-showcase-item-title-color);
}
