@import '@lynx-js/luna-styles/index.css';

.app-container {
  width: 100%;
  height: 100%;
  background-color: var(--canvas);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swipe-action-container {
  width: 100%;
  height: 500px;
  display: linear;
  linear-orientation: vertical;
}

.swipe-action {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

.display-area-container {
  width: 100vw;
  height: 100%;
}

.display-area-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    270deg,
    var(--gradient-b) 0%,
    var(--gradient-a) 100%
  );
}

.action-area-container {
  display: linear;
  linear-orientation: horizontal;
  height: 100%;
}

.action-area-content {
  width: 150px;
  height: 100%;
  background-color: var(--neutral);
  display: flex;
  align-items: center;
  box-shadow:
    -4px 0 4px 0 rgba(0, 0, 0, 0.08),
    -2px 0 3px 0 rgba(0, 0, 0, 0.1);
}
