@import '../shared/base.css';

.container {
  padding-bottom: 200px;
}

.popover-trigger {
  align-self: flex-end;
}

.popover-positioner {
  transform-origin: top left;
}

.popover-anchor {
  align-self: flex-start;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 24px;
  background-color: var(--canvas);
  box-shadow: var(--shadow);
}

.popover-anchor-text {
  font-size: var(--text-base);
  line-height: var(--lh-base);
  color: var(--content);
  text-align: center;
}
