@import '@lynx-js/luna-styles/index.css';

.list-item-card-container {
  width: 100%;
  margin-bottom: 12px;
}

.list-item-card {
  width: 100%;
  height: max-content;

  background-color: var(--canvas);
  border: 1px solid var(--line);
  border-radius: 16px;

  min-height: 180px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-item-card-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.list-item-card-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.list-item-card__letter {
  font-size: 64px;
  font-weight: 600;
  color: var(--primary);
}

.list-item-card__title {
  font-size: 18px;
  font-weight: 600;
  color: var(--content);
}

.list-item-card__subtitle {
  color: var(--content-subtle);
}
