@import '@lynx-js/luna-styles/index.css';

.action-button {
  height: 48px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--primary);
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.action-button.ui-active {
  background-color: var(--primary-2);
}

.action-button-text {
  color: var(--primary-content);
  font-size: 14px;
  font-weight: 500;
}
