@import '@lynx-js/luna-styles/index.css';

@import '../shared/base.css';
@import '../shared/palette.css';

.scroll-view {
  width: 100%;
  height: 100%;
  padding-top: 84px;
  padding-bottom: 84px;
  padding-right: 16px;
  padding-left: 16px;
  z-index: 0;
}

.sortable-root {
  border-radius: 16px;
  height: calc(100% + 200px);
  padding-left: 32px;
  padding-right: 32px;
}

.luna-gradient-berry {
  background: linear-gradient(0deg, var(--gradient-b), var(--gradient-c));
}
